<div class="container content">
    <form class="form-horizontal" role="form">
        <div class="feedback">
            <div id="nameFormGroup" class="form-group">
                <label id="nameLabel" for="nameInput" class="col-sm-4 control-label">{{'YOUR_NAME' | translate}}:</label>
                <div class="col-sm-4">
                    <input id="nameInput" type="text" class="form-control"
                           placeholder="{{'YOUR_NAME_PLACEHOLDER' | translate}}"
                           ng-model="feedback.senderName">
                </div>
            </div>
            <div id="emailFormGroup" class="form-group">
                <label id="emailLabel" for="emailInput" class="col-sm-4 control-label">{{'YOUR_EMAIL' | translate}}:</label>
                <div class="col-sm-4">
                    <input id="emailInput" type="text" class="form-control"
                           placeholder="{{'YOUR_EMAIL_PLACEHOLDER' | translate}}"
                           ng-model="feedback.senderEmail">
                </div>
            </div>
            <div id="messageFormGroup" class="form-group">
                <label id="messageLabel" for="emailInput" class="col-sm-4 control-label">{{'MESSAGE' | translate}}:</label>
                <div class="col-sm-4">
                    <textarea id=messageInput" class="form-control" placeholder="{{'MESSAGE_PLACEHOLDER' | translate}}"
                              ng-model="feedback.message" rows="11"></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-4">
                    <button id="sendButton" type="button" class="btn btn-primary" ng-click="sendFeedback()">{{'SEND' | translate}}</button>
                </div>
            </div>
        </div>
    </form>
</div>