<ul class="nav nav-stacked">
    <li><a href="/admin/articles"><span class="glyphicon glyphicon-file"></span> {{'ARTICLES' | translate}}</a></li>
    <li><a href="#"><span class="glyphicon glyphicon-user"></span> {{'USERS' | translate}}</a></li>
    <li><a href="#"><span class="glyphicon glyphicon-earphone"></span> {{'CONTACTS' | translate}}</a></li>
    <li><a href="#"><span class="glyphicon glyphicon-briefcase"></span> {{'CV' | translate}}</a></li>
    <li><a href="#"><span class="glyphicon glyphicon-envelope"></span> {{'MESSAGES' | translate}}</a></li>
</ul>