<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
            </a>
            <span class="navbar-brand blog-name">{{'BRAND' | translate}}</span>
        </div>
        <div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/">{{'BLOG' | translate}}</a></li>
                <li><a href="/feedback">{{'FEEDBACK' | translate}}</a></li>
            </ul>
        </div>
    </div>
</nav>
